.about_chef {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_chef__title {
    width: 100%;
    text-align: center;
    letter-spacing: 0.2px;
    font-size: 28px;
    font-weight:lighter;
    letter-spacing: 6px;
    color: var(--nav-contact-color);
}

.sub-title__wave {
    width: 100%;
    text-align: center;
    letter-spacing: 0.2px;
    font-size: 8px;
    padding-top: 10px;
    color: var(--icon-color);
    padding-bottom: 33px;
}

.text-look__sub-title-chef {
    color: var(--sky-dark-color);
    letter-spacing: 0.2px;
    font-weight: 100;
    font-size: 12px; 
    text-align: left;
    width: 100%;
    margin-left: 20px;
 }

 .space-marker {
    color: var(--icon-hover-color);
    text-align: left;
    font-weight: bolder;
    color: var(--icon-color);
    margin-left: 20px;
}

.about_chef {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.about_chef__story {
    width: 33%;
    padding: 10px;
}

.about_chef__foto-block {
    width: 33%;  
}

.about_chef__after-photo {
    width: 33%;
    padding: 10px;
}

.text-look__simple-chef-before {
    font-family: "mulish", sans-serif;
    line-height: 12px;
    text-align: justify;
    font-size: 8px;
    font-weight: 600;
    color: var(--simple-text-color);
    margin-left: 20px;
}

.text-look__simple-chef-after {
    font-family: "mulish", sans-serif;
    line-height: 12px;
    text-align: justify;
    font-size: 8px;
    font-weight: 600;
    color: var(--simple-text-color);
    margin-right: 20px; 
    margin-top: -100px;
}

.foto-block__background {
    margin-top: -30px;
}

.about_year {
    display: flex;
   flex-wrap: wrap;
   padding: 10px;
}

.about_year__card-year-mishlen {
    width: 33%;
}

.about_year__card-year-world-award {
    width: 33%;
}

.about_year__card-year-mishlen-book {
    width: 33%;
}

.about_year__other-text {
    font-family: "garamond", sans-serif;
    letter-spacing: 6px;
    line-height: 12px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    padding-top: 10px;
    color: var(--simple-text-color); 
}

.text-look__description {
    font-family: "mulish", sans-serif;
    line-height: 12px;
    text-align: center;
    font-size: 8px;
    font-weight: 600;
    color: var(--simple-text-color);
    margin-top: 20px;
}

.about_chef__foto-block {
    position: relative;
}

.foto-block__img-chef {
  position: relative;
  top: -110px;     
  z-index: 1;    
}