.general-about-chef {
  display: block;
  padding: 0 24px;
}

.about-year-container {
    padding: 15px 0 65px;
}

.awards-container {
    display: grid;
    text-align: center;
}

.signature-chef-item {
  margin: auto;
}

.about-chef-main {
  display: flex;
  flex-wrap: wrap;
}

.signature-chef-item {
  height: 30px;
  width: auto;
}

.chef-text-look__sub-title {
  font-family: "garamond";
  color: var(--nav-contact-color);
  font-size: 22px;
}

.citation-container {
  display: inline-block;
  text-align: center;
}

.about-chef__title {
  font-family: "garamond";
  width: 100%;
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 7px;
  color: var(--nav-contact-color);
}

.sub-title__wave-chef{
  width: 100%;
  text-align: center;
  letter-spacing: 0.2px;
  font-size: 19px;
  padding-top: 10px;
  color: var(--icon-color);
  padding-bottom: 33px;
  font-style: italic;
  font-weight: lighter;
}

.space-marker {
  height: 3px;
  max-width: 10%;
  margin: 15px 0px;
  background-color: var(--divider-component-color);
}

.about_chef__message-chef {
  text-align: center;
}

.space-marker-mini {
  text-align: left;
  font-weight: bolder;
  color: var(--icon-color);
}

.about-chef-main {
  display: flex;
  padding: 65px 0 30px;
}

.about_year__card {
  width: auto;
}

.about_year__other-text {
  padding: 0 0 25px;
  font-family: "garamond", sans-serif;
  letter-spacing: 12px;
  line-height: 12px;
  font-size: 38px;
  font-weight: 400;
  color: var(--about-chef-year);
}

@media (max-width: 766.9px) {
  .chef-story {
    padding: 40px 0 20px;
  }

  .about_year__card {
    padding: 0 0 40px;
  }

  .awards-container {
    display: grid;
  }
}

@media (min-width: 767px) {
    
    

  .general-about-chef {
    padding: 0 40px;
  }

  .about_year__other-text {
    font-size: 58px;
    padding: 0 0 40px;
  }

  .about-chef-main {
    padding: 65px 0 30px;
  }

  .main-about-chef-item {
    width: 33%;
    padding: 0 15px;
  }

  .about-chef__title {
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
    letter-spacing: 11px;
    color: var(--nav-contact-color);
  }

  .about_year__card {
    padding: 0 30px 40px;
  }

  .about-chef-main-container {
    display: flex;
  }
}


  @media (min-width: 767px) and (max-width: 992px) {

    .awards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-items: center; 
      }

  
    .col-three {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  @media (min-width: 992.1px) {
    .awards-container {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
      }
      
      .col-one, .col-two, .col-three {
        width: 30%; 
      }

      .about_year__card {
        min-width: 320px;
      }
    
  }
  
