.about_chef {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_chef__story {
    flex-basis: 33.3%;
    margin-left: 200px;
}

.about_chef__foto-block {
 flex-basis: 33.3%;   
}

.about_chef__after-photo {
     flex-basis: 33.3%;
     margin-right: 200px;
}

.about_chef__title {
    width: 100%;
    text-align: center;
    letter-spacing: 0.2px;
    font-size: 48px;
    font-weight:lighter;
    letter-spacing: 6px;
}

.sub-title__wave {
    color: var(--icon-hover-color);
    width: 100%;
    text-align: center;
    letter-spacing: 0.2px;
    font-size: 8px;
}

.space-marker {
    color: var(--icon-hover-color);
    text-align: left;
}

.text-look__sub-title-chef {
    font-size: 28px; 
    letter-spacing: 0.2px;
    text-align: left;
    width: 100%;
    font-weight: 400;
}

.text-look__simple-chef {
    font-family: "mulish", sans-serif;
    font-size: 15px; 
    letter-spacing: 2px;
    text-align: left;
    font-weight: 600;
    color: var(--simple-text-color);
}

.about_year {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-look__description {
    font-family: "mulish", sans-serif;
    font-size: 15px; 
    letter-spacing: 2px;
    text-align: left;
    font-weight: 600;
    color: var(--simple-text-color);
}

.about_year__card-year-mishlen {
    flex-basis: 33.3%;
    margin-left: 100px; 
}

.about_year__card-year-world-award {
    flex-basis: 33.3%; 
}

.about_year__card-year-mishlen-book {
    flex-basis: 33.3%;
    margin-right: 100px;  
}

.foto-block__background {
    position: relative;
    background-image:url(../img/wave.svg);
}

.about_year__other-text {
    font-size: 24px; 
    text-align: center;
}