/* Ihor Zakatsiura - video block + cards */

/* .video {
} */

.video__content {
    padding: 52.73% 0 0 0;
    position: relative;
}

.video__content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* max-width: 1170px; */
    height: 100%;
}

/* .video__footer {
}

.video__footer-card {
} */

.video__footer img {
    width: 40px;
}
