.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.book-table-form {
  background-color: var(--background-make-a-booking);
  margin: 10% auto;
  padding: 20px 40px;
  border: 1px solid var(--simple-text-color);
  width: 300px;
  text-align: center;
  }


.close {
  color: var(--icon-color);
  float: right;
  font-size: 28px;
  font-weight: bolder;
}

.close:hover,
.close:focus {
  color: var(--icon-hover-color);
  text-decoration: none;
  cursor: pointer;
}

.modal-open {
  overflow: hidden;
}

.book-a-table-btn {
  display: block;
  margin: auto;
  width: 210px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: var(--booking-btn-color);
  color: var(--snow-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bolder;
}

.label-item {
  display: block;
  padding: 0 0 5px;
  text-align: left;
}

.booking-button {
  margin: 15px auto;
  text-align: center;
}

.select-item {
  min-width: 200px;
  min-height: 40px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid var(--snow-color);
  border-radius: 4px;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6'%3E%3Cpath d='M0 0l6 6 6-6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 12px 6px;
  cursor: pointer;
}

.option-item {
  font-size: 16px;
  padding: 8px;
  cursor: pointer;
  width: auto;
}

.input-item {
  height: 40px;
  width: 210px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-name-container,
.input-phone-container,
.select-block-item {
  padding: 5px 0;
}

.book-table-title {
  text-transform: uppercase;
  font-family: "garamond", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  color: var(--nav-contact-color);
}
