.text-look__title {
    text-align: center;
    font-size: 24px;
}

.text-look__wave {
    text-align: center;
}

.space-marker-mini {
    font-style: italic;
}

.pecipes-wrapper {
    display: flex;
    justify-content: center;
}

/* .text-look__sub-title {} */

.photo-recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image {
    width: 20vw;
    height: auto;
}

.text-look__sub-title {
    font-size: 20px;
    margin: 25px 0 25px;
}

.icons {
    width: 30px;
    letter-spacing: 0.1vw;
}

.icon-block {
    display: flex;
    align-items: center;
    width: 20vw;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--simple-text-color);
}

.about-icons {
    margin: 0 15px;
}

.text-look__simple {
    margin: 25px 0 25px;
    padding: 0 55px;
}