/* Vika contacts main caption */
.contacts__main-caption {
    background-color: rgb(240, 249, 252);
    text-align: center;
    padding: 80px;
}
    
    

    


/* Ruslan Kozhakin making style for Contacts info service */
.contacts-info__service {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
    align-items: center;
   
}

.service__info {
display: flex;
flex-direction: column


}
.service-descr__title {
    font-family: 'garamond', sans-serif;
    color: var(--nav-contact-color);
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 7px;
    margin-bottom: 10px;
}
.service-descr__mark {
    font-family: 'garamond', sans-serif;
    font-size: 14px;
    color: var(--icon-color);
    font-weight: 600;
}
.servise-descr__text {
    font-family: 'mulish', sans-serif;
    color: var(--simple-text-color);
    font-size: 17px;
    margin-top: 10px;
    font-weight: 500;
}
.service-list__steps {
    margin-top: 40px;
   
}
.steps-items {
    list-style: none;
    padding: 0;
    margin: 0;
}
.steps-point {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.steps-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--about-chef-year);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.steps-number {
    font-size: 28px;
    font-weight: bold;
    color: var(--snow-color);
}
.steps-text {
    flex: 1;
}
.steps-title {
    font-family: 'garamond', sans-serif;
    color: var(--nav-contact-color);
    font-size: 23px;
    font-weight: 100;
    letter-spacing: 5px;
    margin: 0 0 5px 0;
}
.steps-info {
    font-family: 'mulish', sans-serif;
    color: var(--simple-text-color);
    font-size: 17px;
    margin: 0;
}

@media (max-width: 768px) {
    .contacts__main-caption {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 20px 20px 0 20px;
    }
    .contacts-info__service{
      display: flex;
      flex-direction: column;
      max-width: none;
      margin-top: 60px;
    }
    .service-descr__title {
        letter-spacing: 5px;
    }
    .contacts__form {
     margin-top: 40px;
     max-width: auto;
     width: 100%;
     
    }
    .input-by-contacts {
        max-width: auto;
        width: 100%;
    }
    .contacts__form button {
        max-width: auto;
        width: 100%;
        margin-top: 40px;
    }
}
@media (min-width:1200px)  {
    .contacts__main-caption {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 50px 0 50px;
        
    }
    .contacts-info__service {
     width: 100%;  
     margin: 50px 50px 0 50px;
    } 
     
    
     

    .service__info {
     display: flex;
     width: 50%;
     
    
    

    }
    .service-descr__title {
        letter-spacing: 7px;
    }
    


}





/* Vika contacts form */
.contacts__form {
    border: 2px solid;
    color: #f5f4f1;
    padding: 30px;
    border-radius: 0px;
    text-align: center; 
    
}

.input-by-contacts {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: inset;
    border-bottom-color: var(--inputs-underline-color);
    border-radius: 0px;
    color: var(--simple-text-color);
    font-family: "mulish";
}

.contacts__form button {
    padding: 14px 30px 14px 30px;
    border: none;
    color: white;
    background-color: #0b2470;
    border-radius: 0px;
    font-family: "mulish";
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
