

/* Vika contacts form */
.contacts__form{
    margin-top: 50px;
    text-align: left; 
    padding: 39px 43px 39px 43px;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-radius: 0px;
    color: rgb(65,65, 65);
    font-family: inherit;
}