/* Vika contacts main caption */
.contacts__main-caption {
    background-color: rgb(240, 249, 252);
    text-align: center;
    padding: 80px;
    margin: 50px;
}
/* Ruslan Kozhakin making style for Contacts info service */
.contacts-info__service {
display: grid;
grid-template-rows:auto;
margin: auto 20px;
max-width: 767px;
text-align: center;

}
.service-descr {
display: flex;
flex-direction: column;
}
.steps-item {
display: flex;
flex-direction: column;
}
.steps-info{
    display: flex;
    flex-direction: column;
    font-family: 'mulish', sans-serif;
    color: var(--simple-text-color);
    font-size: 17px;
   
    

}
.steps-number {
    font-family: 'mulish', sans-serif ;
    font-size: 28px;
    font-weight: 700;
    color: var(--snow-color);
    width: 50px;  
    height: 50px; 
    border-radius: 50%;
    background-color: var(--about-chef-year);
    align-self: self-start;
    padding-top: 7px;
}
.steps-title {
font-family: 'garamond', sans-serif;
font-size: 22px;
letter-spacing: 3px;
color: var(--nav-contact-color);
font-weight: 100;
padding: 0;
}







/* Vika contacts form */
.contacts__form {
    border: 2px solid;
    color: var(--simple-text-color);
    padding: 30px;
    border-radius: 0px;
    margin: 50px;
    text-align: center; 
    width: fit-content;
}

input {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-radius: 0px;
    color: var(--simple-text-color);
    font-family: "mulish";
}

.contacts__form button {
    padding: 14px 30px 14px 30px;
    border: none;
    color: white;
    background-color: #0b2470;
    border-radius: 0px;
    font-family: "mulish";
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
