/* .education-awards__text-title {
    font-family: 'garamond', sans-serif;
    color: var(--nav-contact-color);
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 7px;
}

.sub-look__wave {
    font-size: 80px;
    text-align: center;
} */