footer {
    margin-top: 80px;
    margin-bottom: 40px;
   
    
}
.footer__contain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    margin: 40px auto;
    
    max-width: 1200px;
    border-top: 1px solid var(--footer-block-divider) ;
    border-bottom: 1px solid var(--footer-block-divider) ;
    
    
}
    
.footer a {
    color: var(--simple-text-color);
    font-weight: 100;
    font-size: 20px;
}
    
.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: -40px;
}
.footer-contacts__title {
    font-size: 30px;
    color: var(--nav-contact-color);
    font-family: 'garamond', sans-serif;
    letter-spacing: 7px;
    font-weight: 100;
    margin-bottom: 10px;
}
.divider-component__contacts {
    background-color: var(--divider-component-color);
    height: 3px;
    width: 10%;
    margin-bottom: 10px;
}
.footer-contacts, .footer__phone-number {
    margin-bottom: 10px;
}
.footer__location {
    font-family: 'mulish', sans-serif;
    color: var(--simple-text-color);
    font-size: 15px;
    margin-bottom: 20px;
}
.footer__social-networks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.footer__grape-logo-link {
    width: 150px;
    margin-bottom: 20px;
}
.footer__slogan {
    font-family: 'mulish', sans-serif;
    color: var(--slogan-color);
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 20px;
}
.footer__social-icons {
    justify-content: center;
}
.footer__social-icons, .icons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    gap: 10px;
}
.footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: -40px;
    
}
.nav__title {
    font-size: 30px;
    color: var(--nav-contact-color);
    font-family: garamond, sans-serif;
    letter-spacing: 7px;
    font-weight: 100;
    margin-bottom: 10px;
}
.divider-component__nav  {
    background-color: var(--divider-component-color);
    height: 3px;
    width: 10%;
    margin-bottom: 10px;
}
.nav-look__info  {
    margin-bottom: 10px;
}
.footer__copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--slogan-color);
    font-family: 'mulish', sans-serif;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0.2vw;
    font-size: 13px;
}
@media (max-width:1200px) {
    .footer__contain {
        max-width: 970px;
        text-align: center;
    }
}
@media (max-width:992px) {
    .footer__contain {
        max-width: 750px;
        width: auto;
    }
    .footer__slogan {
        text-align: center;
    }
}    
@media (max-width:767px) {
    .footer__contain {
        display: flex;
        flex-direction: column ; 
        max-height: 700px;
        max-width: none;
        padding-top: 40px;
    }
    .footer__social-networks {
        margin-top: -40px;
    }
}   

   
    




















    

    
    

    

    














