* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-cooking-directions: rgb(245 244 241);
    --background-make-a-booking: rgb(240 249 252);
    --snow-color: #ffffff;
    --simple-text-color: #999da7;
    --nav-link-color: #000000;
    --nav-contact-color: #071b54;
    --icon-color: #f67d6b;
    --icon-hover-color: #c5250d;
    --text-color-testimonials: #515358;
    --divider-component-color: #FAD9D2;
    --testimonials-border-color: #E6E6E6;
    --main-width: 40vw;
    --slogan-color: #697388;
    --footer-block-divider: rgba(153, 157, 167, 0.5);
    --about-chef-year: rgb(193,219,230);
    --background-contacts: rgb(240, 249, 252);;
}

@font-face {
    font-family: mulish;
    src: url(../fonts/NanumGothic-Regular.ttf);
}

@font-face {
    font-family: garamond;
    src: url(../fonts/CormorantGaramond-Regular.ttf);
}

.text-look__simple {
    font-family: 'mulish', sans-serif;
    color: var(--simple-text-color);
    font-size: 15px;
}

.text-look__simple-text {
    font-family: 'mulish', sans-serif;
    color: var(--simple-text-color);
    font-size: 15px;
}

.text-look__title {
    font-family: 'garamond', sans-serif;
    color: var(--nav-contact-color);
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 7px;
}

.text-look__sub-title {
    font-family: 'garamond';
    color: var(--nav-contact-color);
}

.text-look__wave-text {
    font-family: 'garamond';
    font-size: 14px;
    color: var(--icon-color);
}
.text-look__popular-dishes {
    font-family: 'mulish', sans-serif;
    color: var(--icon-color);
    font-size: 12px;
    letter-spacing: 2px;
}
img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}
