* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --snow-color: #ffffff;
    --simple-text-color: #999da7;
    --nav-link-color: #000000;
    --nav-contact-color: #071b54;
    --icon-color: #f67d6b;
    --icon-hover-color: #c5250d;
    --text-color-testimonials: #515358;
    --divider-component-color: #FAD9D2;
    --testimonials-border-color: #E6E6E6;
    --main-width: 40vw;
}

@font-face {
    font-family: mulish;
    src: url(../fonts/NanumGothic-Regular.ttf);
}

@font-face {
    font-family: garamond;
    src: url(../fonts/CormorantGaramond-Regular.ttf);
}

.text-look__simple {
    font-family: 'mulish', sans-serif;
    color: var(--simple-text-color);
    font-size: 15px;
}

.text-look__simple-text {
    font-family: 'mulish', sans-serif;
    color: var(--simple-text-color);
    font-size: 15px;
}

.text-look__title {
    font-family: 'garamond', sans-serif;
    color: var(--nav-contact-color);
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 7px;
}

.text-look__sub-title {
    font-family: 'garamond';
    color: var(--nav-contact-color);
}

.text-look__wave-text {
    font-family: 'garamond';
    font-size: 14px;
    color: var(--icon-color);
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}
