* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --snow-color: #ffffff;
    --simple-text-color: #999da7;
    --nav-link-color: #000000;
    --nav-contact-color: #071b54;
    --icon-color: #f67d6b;
    --icon-hover-color: #db4028;
    --text-color-testimonials: #515358;
    --divider-component-color: #FAD9D2;
    --testimonials-border-color: #E6E6E6;
    --main-width: 30vw;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}
