.web-background {
    background-image: url(../img/fish-dish-background.png);
    background-position: center center;
    background-size: cover;
    min-width: 320px;
    height: 300px;
  }
  
  .social-icon {
    width: 25px;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .header-top-menu {
    display: none;
  }
  
  .header-menu {
      display: none;
  }

  .top-left-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .top-right-item {
    display: flex;
    align-items: center;
    text-align: right;
  }

  .top-right-icons {
    display: flex;
    width: 50%;
    gap: 20px;
  }



  .top-right-contact-chef {
    width: 50%;
    padding-right: 10px;
  }

  .middle-grape-logo {
    width: 120px;
    margin: 0 30px;
  }
  
  @media (min-width: 769px) {
      .web-background {
          height: 470px;
      }
  }
  
  @media (min-width: 990.1px) {
      .web-background {
          height: 640px;
      }
  
      #menu {
          display: none;
      }

      .header-top-menu {
        display: flex;
        justify-content: space-between;
        padding: 30px 40px 10px;
        margin: 0 60px;
      }

      .item-size {
        max-width: 420px;
        min-width: 340px;
      }

      .header-menu {
        display: block;
      }

      .header-menu-list {
        display: flex;
        flex-direction: row;
        min-width: 1060px;
        height: 40px;
        align-items: center;
        justify-content: center;
        }

    .header-menu-link {
        padding: 0 20px;
        font-family: 'mulish', sans-serif;
        text-align: justify;
        font-size: 15px;
        font-weight: 600;
        color: var(--simple-text-color);
    }
    
    .header-menu-link:hover {
        color: var(--nav-link-color);
    }
    
    .nav-phone {
        font-family: 'mulish', sans-serif;
        font-size: 12px;
        font-weight: 600;
        color: var(--nav-contact-color);
        letter-spacing: 2px;
    }

    .nav-phone:hover {
        text-decoration: underline;
    }

    .nav-location {
        font-family: 'mulish', sans-serif;
        font-size: 12px;
        font-weight: 600;
        color: var(--nav-contact-color);
        letter-spacing: 2px;
    }

    .nav-contact-chef {
        font-family: 'mulish', sans-serif;
        font-size: 12px;
        font-weight: 600;
        color: var(--nav-contact-color);
        text-decoration: underline;
        letter-spacing: 2px;
    }
}