.web-background {
    background-image: url(../img/fish-dish-background.png);
    background-position: center center;
    background-size: cover;
    min-width: 320px;
    height: 300px;
  }
  
  .social-icon {
    width: 25px;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .nav-left-side {
      display: none;
  }
    
  .nav-right-side {
      display: none;
  }
  
  .header-menu {
      display: none;
  }
  
  @media (min-width: 769px) {
      .web-background {
          height: 470px;
      }
  }
  
  @media (min-width: 991px) {
      .web-background {
          height: 640px;
      }
  
      #menu {
          display: none;
      }
  }