.swiper {
  max-width: 50%;
  padding: 0 10px;
}

.swiper-slide {
  width: 20%;
  padding: 0 10px;
}

.swiper-slide {
  max-width: 100%;
  height: auto;
}
.image-slider {
    padding: 30px 0 70px 0;
}
.inst-gallery {
    padding: 88px 33px 0;
    text-align: center
}

.text-look__wave {
    padding-top: 10px;
    color: var(--icon-color);
    padding-bottom: 33px;

}
@media (max-width: 768px) {
  .swiper {
    max-width: 80%;
    height: auto;
  }
}
