.inst-gallery {
    padding: 88px 33px 0;
    text-align: center
}

.text-look__wave {
    padding-top: 10px;
    color: var(--icon-color);
    padding-bottom: 33px;
}

.scroll-pictures {
    max-width: 300px;
    margin: 0 auto 67px;

}