.background-make-a-booking {
    background-color: var(--background-make-a-booking);
}

.booking-icon {
    width: 25px;
}

.guest-icon {
    width: 5px;
}

.input-name {    
    background-color: var(--background-cooking-directions);
}

.input-phone {    
    background-color: var(--background-cooking-directions);
}

@media (max-width: 766.9px) {
    .make-a-booking {
        width: 80%;
        text-align: center;
    }

    .select-date-container {
        display: flex;
        align-items: center;
    }

    .select-time-container {
        display: flex;
        align-items: center;
    }

    .select-guest-container {
        display: flex;
        align-items: center;
    }

    .input-name-container {
        display: flex;
        align-items: center;
    }

    .input-phone-container {
        display: flex;
        align-items: center;
    }

    .select-date {
        width: 100px;
        display: flex;
        background-color: var(--background-cooking-directions);
    }

    .select-time {
        width: 100px;
        background-color: var(--background-cooking-directions);
    }

    .select-guest {
        width: 100px;
        background-color: var(--background-cooking-directions);
    }
}

