.popular_dishes {
 padding: 24px;
}
.text-look__popular-dishes_small {
padding-top: 18px;
}
.text-look__popular-dishes {
padding-top: 20px;
padding-bottom: 60px;
}
.popular-dishes__box p {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .popular_dishes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
  }
  .popular-dishes__box {
    margin-bottom: 0;
  }
  .popular-dishes__box:nth-child(2) {
    order: 1;
    margin-bottom: 20px;
  }
  .popular-dishes__box:nth-child(4) {
    order: 4;
    margin-top: -250px;
  }
}

.note-element {
   color: var(--icon-color);
}
.services  {
  margin: auto;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding: 24px;
}
.services__box p {
  width: 100%;
  margin: auto;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .services {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 250px);
    gap: 80px;
  }
}
@media (min-width: 992px) {
  .services {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 250px);
    gap: 80px;
    }
}

.divider-component__services  {
  background-color: var(--divider-component-color);
  height: 3px;
  width: 20%;
  margin-bottom: 10px;
  margin-top: 10px;
}