.popular_dishes {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 20px;
}
.popular-dishes__box h3 {
  text-align: left;

}
.note-element {
   color: var(--icon-color);
}

.popular-dishes__box h3,
.popular-dishes__box p,
.popular-dishes__box img {
  margin: 16px 0;
}
