.popular_dishes {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 50px;
}
.popular-dishes__box {
   flex-basis: calc(50% - 30px);
   margin: 15px;
   text-align: left;
 }
.note-element {
   color: var(--icon-color);
}
 .services {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   gap: 85px;
 }
 .services__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 300px;
      text-align: center;
 }
 .services__image img {
   width: 300px;
   height: 300px;
 }
 .services__image--salad {
   background-image: url('img/services-background-2')
 }