#testimonials {
    margin: 100px auto;
    font-family: "mulish", sans-serif;
}

.slider {
    width: calc(2 * var(--main-width));
    height: 400px;
    position: relative;
    margin: 0;
    overflow: hidden;
}

.slider__container {
    display: flex;
    text-align: center;
    align-items: center;
    width: calc(5 * var(--main-width));
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(var(--main-width) * (-1));
    transition: 0.5s;
}

.slider__item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid var(--testimonials-border-color);
    padding: 20px 45px;
    width: calc(var(--main-width) / 2);
    height: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: var(--text-color-testimonials);
}

.slider__container>.slider__item {
    width: var(--main-width);
    height: 100%;
    box-sizing: border-box;
    float: left;
}

.arrow {
    width: 20px;
    height: 45px;
    color: var(--text-color-testimonials);
    position: absolute;
    top: 50%;
    margin-top: -25px;
    font-size: 45px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.prev {
    left: 0;
    font-family: 'Roboto', sans-serif;
}

.next {
    right: 0;
    font-family: 'Roboto', sans-serif;
}

.divider-component {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    height: 3px;
    width: 20px;
    background-color: var(--divider-component-color);
}

.bottom-date {
    color: var(--icon-color);
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.3vw;
}

.clients__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__item img {
    width: 45px;
}

.clients__section .text-content {
    letter-spacing: 0.5vw;
    font-size: 36px;
    color: var(--sky-dark-color);
    font-family: "garamond", sans-serif;
    font-weight: 100;
}

.clients__section .bottom-text-block {
    margin: 40px auto;
    color: var(--icon-color);
    font-family: "garamond", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}

@media (max-width: 768px) {
    .slider {
        width: calc(var(--main-width));
        height: 550px;
    }

    .clients__section .text-content {
        text-align: center;
    }

    .slider__container {
        width: calc(5 * var(--main-width));
        left: calc(var(--main-width) * (-2));
        transition: 0.5s;
    }

    .slider__container>.slider__item {
        height: 100%;
        padding: 20px 15px;
    }

    .slider__item {
        width: calc(var(--main-width));
        font-size: 14px;
    }

    .slider__item img {
        width: 35px;
    }

    .divider-component {
        height: 3px;
        width: 15px;
    }

    :root {
        --main-width: 60vw;
    }
}